html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;

  background: #a7a6af;
  background: -webkit-radial-gradient(center, circle cover, #a7a6af 1%,#6b6c79 100%);
  background: radial-gradient(circle, #a7a6af 1%,#6b6c79 100%);
}

* {
  box-sizing: border-box;
}
